name: Testing with Unittest

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.8

    - name: Install dependencies
      run: pip install -r Lab1/requirements.txt

    - name: Run tests and generate XML report
      run: pytest Lab1/test/test_unittest.py --junitxml=unittest-report.xml
      continue-on-error: false

    - name: Upload test results
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: unittest-results
        path: unittest-report.xml

    - name: Notify on success
      if: success()
      run: echo "Unittest tests passed successfully"

    - name: Notify on failure
      if: failure()
      run: echo "Unittest tests failed"